.board {
	display: grid;
	margin-left: 20px;
	margin-top: 20px;

	grid-template-rows: repeat(11, 1fr);
	grid-template-columns: repeat(11, 1fr);
	background-color: rgba(3, 41, 235, 0.5);

	width: 550px;
	height: 550px;
}

.board:has(.row-A:hover) .row-A::after,
.board:has(.row-B:hover) .row-B::after,
.board:has(.row-C:hover) .row-C::after,
.board:has(.row-D:hover) .row-D::after,
.board:has(.row-E:hover) .row-E::after,
.board:has(.row-F:hover) .row-F::after,
.board:has(.row-G:hover) .row-G::after,
.board:has(.row-H:hover) .row-H::after,
.board:has(.row-I:hover) .row-I::after,
.board:has(.row-J:hover) .row-J::after,
.board:has(.col-1:hover) .col-1::after,
.board:has(.col-2:hover) .col-2::after,
.board:has(.col-3:hover) .col-3::after,
.board:has(.col-4:hover) .col-4::after,
.board:has(.col-5:hover) .col-5::after,
.board:has(.col-6:hover) .col-6::after,
.board:has(.col-7:hover) .col-7::after,
.board:has(.col-8:hover) .col-8::after,
.board:has(.col-9:hover) .col-9::after,
.board:has(.col-10:hover) .col-10::after {
	content: " ";
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	background: rgba(103, 173, 242, 0.474);
}

.board-position:hover {
	background-color: rgba(149, 195, 255, 0.645);
}

.board-header-number,
.board-header-letter {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 20px;
	font-weight: bolder;
}
