.board {
	display: grid;
	margin-left: 20px;
	margin-top: 20px;

	grid-template-rows: repeat(11, 1fr);
	grid-template-columns: repeat(11, 1fr);
	background-color: rgba(3, 41, 235, 0.5);

	width: 550px;
	height: 550px;
}

.board:has(.row-a:hover) .row-a::after,
.board:has(.row-b:hover) .row-b::after,
.board:has(.row-c:hover) .row-c::after,
.board:has(.row-d:hover) .row-d::after,
.board:has(.row-e:hover) .row-e::after,
.board:has(.row-f:hover) .row-f::after,
.board:has(.row-g:hover) .row-g::after,
.board:has(.row-h:hover) .row-h::after,
.board:has(.row-i:hover) .row-i::after,
.board:has(.row-j:hover) .row-j::after,
.board:has(.col-1:hover) .col-1::after,
.board:has(.col-2:hover) .col-2::after,
.board:has(.col-3:hover) .col-3::after,
.board:has(.col-4:hover) .col-4::after,
.board:has(.col-5:hover) .col-5::after,
.board:has(.col-6:hover) .col-6::after,
.board:has(.col-7:hover) .col-7::after,
.board:has(.col-8:hover) .col-8::after,
.board:has(.col-9:hover) .col-9::after,
.board:has(.col-10:hover) .col-10::after {
	content: " ";
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	background: rgba(103, 173, 242, 0.474);
}

.board-position:hover {
	background-color: rgba(149, 195, 255, 0.645);
}
