.content {
	display: flex;
	justify-items: center;
}

.boats-select {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	align-items: center;
	align-self: center;

	gap: 40px;

	background-color: rgba(31, 31, 209, 0.5);
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}

.play-button {
	color: white;
}
