#game {
	display: flex;
}

input {
	color: black;
}

.game-boards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.game-power-ups {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: space-between;

	width: 80%;
	background-color: rgba(80, 80, 255, 0.5);
	margin-right: 60px;

	padding: 0 0 50px 0;
}

#game > *:nth-child(1) {
	flex-basis: 70%;
}

#game > *:nth-child(2) {
	flex-basis: 30%;
}

.power-up-button {
	margin-left: 20%;
	margin-right: 20%;
	height: 10%;
	border: none;
	background: rgba(3, 41, 200);
	border-radius: 10px;
	color: white;

	width: 80%;

	font-weight: 600;
	font-size: 20px;
}

div[data-boat^="destroyer"] {
	background-image: url("../images/destroyer.png");
}

div[data-boat^="submarine"] {
	background-image: url("../images/submarine.png");
}

div[data-boat^="cruise"] {
	background-image: url("../images/cruise.png");
}

div[data-boat^="battleship"] {
	background-image: url("../images/battleboat.png");
}

div[data-boat^="aircraft"] {
	background-image: url("../images/aircraft.png");
}

div[data-boat$="h2"],
div[data-boat$="v2"] {
	background-position: -100%;
}

div[data-boat$="h3"],
div[data-boat$="v3"] {
	background-position: -200%;
}

div[data-boat$="h4"],
div[data-boat$="v4"] {
	background-position: -300%;
}

div[data-boat$="h5"],
div[data-boat$="v5"] {
	background-position: -400%;
}

div[data-boat$="v1"],
div[data-boat$="v2"],
div[data-boat$="v3"],
div[data-boat$="v4"],
div[data-boat$="v5"] {
	transform: rotateZ(90deg);
}

div[data-mine="true"] {
	background: url("../images/mine.png") !important;
}

div[data-shield="true"]::after {
	display: block;
	content: "";
	width: 50px;
	height: 50px;
	background: url("../images/barrier.png") !important;
	background-size: cover !important;
}

div[data-destroyed="true"]::after {
	display: block;
	content: "";
	width: 50px;
	height: 50px;
	background: rgba(255, 0, 0, 0.75) !important;
}

div[data-miss="true"]::after {
	display: block;
	content: "";
	width: 50px;
	height: 50px;
	background: rgba(255, 0, 255, 0.75) !important;
}

.targetted-information {
	display: flex;

	border-radius: 1rem;
	overflow: hidden;

	width: 80%;
}

.targetted-row,
.targetted-col,
.targetted-player {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	align-items: center;
	justify-content: center;

	font-weight: bold;
	font-size: 1.5rem;
}

.targetted-row > span,
.targetted-col > span,
.targetted-player > span {
	font-weight: normal;
	font-size: 1.25rem;
}

.targetted-row {
	background: red;
}

.targetted-col {
	background: green;
}

.targetted-player {
	background: blue;
}
