#game {
	display: flex;
}

input {
	color: black;
}

#log-messages{
	background-color: rgba(80, 80, 255, 0.5);
	margin: 15px 0 15px 15px ;
	padding: 10px;
}

.boards-container{
	background-color: rgba(80, 80, 255, 0.5);

	margin-left: 15px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-bottom: 15px;

	overflow: scroll;
}

.game-boards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 1140px;
	height: 790px;
}

.game-boards > *{
	flex-basis: 50%;
}

.game-power-ups {
	display: flex;
	flex-direction: column;


	align-items: center;
	justify-content: space-between;

	gap: 15px;

	background-color: rgba(80, 80, 255, 0.5);
	margin-right: 15px;
	margin-top: 15px;
	margin-left: auto;

	padding: 0 0 50px 0;

	height: min-content;
	width: 700px;
}

.game-info{
	padding: 10px;
	gap: 20px;
}

.player-id-title {
	margin-bottom: 0px;
	align-self: center;
}

.power-up-button {
	margin-left: 20%;
	margin-right: 20%;
	height: 70px;
	border: none;
	background: rgba(3, 41, 200);
	border-radius: 10px;
	color: white;

	width: 80%;

	font-weight: 600;
	font-size: 18px;
}

.power-up-button.disabled {
	background: rgba(30, 30, 30);
}

div[data-boat^="destroyer"] {
	background-image: url("../images/destroyer.png");
}

div[data-boat^="submarine"] {
	background-image: url("../images/submarine.png");
}

div[data-boat^="cruise"] {
	background-image: url("../images/cruise.png");
}

div[data-boat^="battleship"] {
	background-image: url("../images/battleboat.png");
}

div[data-boat^="aircraft"] {
	background-image: url("../images/aircraft.png");
}

div[data-boat$="h2"],
div[data-boat$="v2"] {
	background-position: -100%;
}

div[data-boat$="h3"],
div[data-boat$="v3"] {
	background-position: -200%;
}

div[data-boat$="h4"],
div[data-boat$="v4"] {
	background-position: -300%;
}

div[data-boat$="h5"],
div[data-boat$="v5"] {
	background-position: -400%;
}

div[data-boat$="v1"],
div[data-boat$="v2"],
div[data-boat$="v3"],
div[data-boat$="v4"],
div[data-boat$="v5"] {
	transform: rotateZ(90deg);
}

div[data-mine="true"] {
	background: url("../images/mine.png") !important;
}

div[data-shield="true"]::after {
	display: block;
	content: "";
	width: 50px;
	height: 50px;
	background: url("../images/barrier.png") !important;
	background-size: cover !important;
}

div[data-revealed="true"]::after {
	display: block;
	content: "";
	width: 50px;
	height: 50px;
	background: rgba(255, 255, 255, 0.75) !important;
}

div[data-destroyed="true"]::after {
	display: block;
	content: "";
	width: 50px;
	height: 50px;
	background: rgba(255, 0, 0, 0.75) !important;
}

div[data-miss="true"]::after {
	display: block;
	content: "";
	width: 50px;
	height: 50px;
	background: rgba(255, 0, 255, 0.75) !important;
}

.targetted-information {
	display: flex;

	border-radius: 1rem;
	overflow: hidden;

	width: 80%;
}

.targetted-row,
.targetted-col,
.targetted-player {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	align-items: center;
	justify-content: center;

	font-weight: bold;
	font-size: 1.5rem;
}

.targetted-row > span,
.targetted-col > span,
.targetted-player > span {
	font-weight: normal;
	font-size: 1.25rem;
}

.targetted-row {
	font-size: 18px;
	background: rgb(230, 42, 98);
}

.targetted-col {
	font-size: 18px;
	background: rgb(220, 210, 64);
	color: rgb(27, 24, 24);
}

#target-col{
	color: rgb(27, 24, 24);
}

.targetted-player {
	font-size: 18px;
	background: rgb(33, 79, 217);
}
