* {
	color: rgb(1, 3, 13);
	font-family: "Comic Sans MS";
}

body {
	background-image: url("../images/sea.png");
	background-repeat: repeat;
	background-size: 50%;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-menu {
	margin: 50px;
	padding: 30px;
	background-color: #0b5cc094;
	border-radius: 5px;
	gap: 50px;
	font-size: 24px;
}

.main-io {
	margin: 10px;
	color: rgb(229, 229, 229);
	font-weight: bold;
}

.text-main-menu {
	font-size: 42px;
}

.main-menu-options {
	display: flex;
	flex-direction: column;
}
