:root {
	--rules-nav: rgb(7, 7, 17);
	--sumary-title-background: rgba(0, 0, 0, 0.45);
	--white-text-color: rgb(233, 236, 255);
	--custom-tab-size: 50px;

	color: var(--white-text-color);
	font-family: "Comic Sans MS";
}

.unselectable {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

body {
	background-image: url("../images/rules_background.png");
	background-repeat: repeat;
	background-size: 40%;
	background-position: left top;
	background-position-x: -40px;

	margin: 0px;
	margin-top: 60px;
	padding-top: 10px;
}

/* NAV BAR */

.back-button {
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 6px 0 0 20px;

	text-decoration: none;
	font-size: 40px;
	font-weight: 900;
	color: var(--white-text-color);
}

.rules-title {
	position: fixed;
	top: 0;
	padding: 20px 100% 20px 50px;
	margin: 0px;
	background-color: var(--rules-nav);
}

.index:nth-child(n) {
	position: fixed;
	top: 0;
	right: 0;
	margin: 25px 30px;

	font-size: 18px;
	font-weight: 600;
	color: var(--white-text-color);
}

.rules-i1 {
	margin-left: 10px;
	text-decoration: none;
	color: var(--white-text-color);
}

.rules-i2 {
	margin-left: 10px;
	text-decoration: none;
	color: var(--white-text-color);
}

.rules-i3 {
	margin-left: 10px;
	text-decoration: none;
	color: var(--white-text-color);
}

.rules-i4 {
	margin-left: 10px;
	text-decoration: none;
	color: var(--white-text-color);
}

.rules > * {
	scroll-margin-top: 80px;
}

.rules-details {
	margin-bottom: 5px;
}

.rules-summary-title {
	background-color: var(--sumary-title-background);
	padding: 10px 0px 10px var(--custom-tab-size);
}

.rules-summary-text {
	height: 100%;
	padding: 0px calc(var(--custom-tab-size) * 2.5);

	background-color: none;
}

.fleet-list {
	padding-left: calc(var(--custom-tab-size) * 4);
}

.text-link {
	color: brown;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-spaced-out {
	font-weight: bold;
	position: 30px;
	letter-spacing: 30px;
	font-size: 24px;
}

.rules-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--rules-nav);
}
