/* NAV BAR */

.rules > * {
	scroll-margin-top: 80px;
}

.rules-details {
	margin-bottom: 5px;
}

.rules-summary-title {
	background-color: rgba(0, 0, 0, 0.45);
	padding: 10px 0px 10px 50px;
}

.rules-summary-text {
	height: 100%;
	padding: 0px calc(50px * 2.5);

	background-color: none;
}

.fleet-list {
	padding-left: calc(50px * 4);
}

.text-link {
	color: brown;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-spaced-out {
	font-weight: bold;
	position: 30px;
	letter-spacing: 30px;
	font-size: 24px;
}

.rules-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--rules-nav);
}
