@import url("./nav-bar.css");
@import url("./board-styles.css");
@import url("./fleet.css");
@import url("./game.css");
@import url("./rules.css");
@import url("./winner.css");
@import url("./main-page.css");
@import url("./online.css");
@import url("./helper-classes.css");
@import url("./leaderboard.css");
@import url("./tourney.css");

* {
	color: white;
	text-decoration: none;
	font-family: "Comic Sans MS", serif, monospace;
}

:root {
	--body-background-position: 0% 0%;
	--body-background-size: auto;
	--body-background-repeat: repeat;
	--body-background-image: url("../images/sea.png");

	--body-margin: 0;
	--body-padding: 0;
}

body#rules-page {
	--body-background-size: 50%;
	--body-background-image: url("../images/rules_background.png");
	--body-margin: 60px 0 0 0;
	--body-padding: 10px 0 0 0;
}

body#main-page {
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;

	--body-background-size: 30%;

	--body-margin: 0;
}

body#fleet-page {
	--body-background-size: 50%;

	--body-margin: 60px 0 0 0;
	--body-padding: 10px 0 0 0;
}

body#online-page {
	--body-background-size: 50%;

	--body-margin: 60px 0 0 0;
	--body-padding: 10px 0 0 0;
}

body#winner-page {
	--body-background-size: 50%;

	--body-margin: 60px 0 0 0;
	--body-padding: 10px 0 0 0;
}

body#tournament-page {
	--body-background-size: 50%;

	--body-margin: 60px 0 0 0;
	--body-padding: 10px 0 0 0;
}


body#game-page {
	--body-background-size: 50%;
	--body-margin: 60px 0 0 0;
	--body-padding: 10px 0 0 0;

	overflow: hidden;
}

body {
	background-position: var(--body-background-position);
	background-size: var(--body-background-size);
	background-repeat: var(--body-background-repeat);
	background-image: var(--body-background-image);

	margin: var(--body-margin);
	padding: var(--body-padding);
}

#winner-id {
	font-size: 32px;
	padding: 0 0 0 25px;
	color: gold;
}
